/* Section styles */
.product-sort {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  height: auto;
  margin-left: 96px;
  margin-right: 96px;
  margin-top: 72px;
}

/* Container styles */
.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sort-first-part {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

/* Item count styles */
.item-count {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

/* Filter settings styles */
.filter-settings {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;
}

/* Arrow icon styles */
.arrow-icon {
  margin-right: 5px;
}

/* Hide filter text styles */
.hide-filter-text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}

.sort-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.custom-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-header {
  cursor: pointer;
  font-weight: bold;
}

.dropdown-options {
  position: absolute;
  top: 100%;
  right: 0;
  list-style: none;
  padding: 0;
  margin: 5px 0 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  background-color: #fff;
  border-radius: 4px;
  overflow: hidden;
  width: 235px;
  max-height: 324px; /* Set a max height for the dropdown */
  overflow-y: hidden; /* Enable vertical scrollbar if necessary */
  transition: max-height 0.3s ease-in-out; /* Smooth animation */
}

.dropdown-options li {
  padding: 10px;
  cursor: pointer;
  line-height: 40px;
  transition: background-color 0.3s;
}

.dropdown-options li:hover {
  background-color: #f0f0f0;
}

.filter-settings {
  cursor: pointer;
}

.arrow-icon {
  font-size: 20px;
  transition: transform 0.3s ease;
  transform: rotate(180deg);
}

.arrow-icon.flipped {
  transform: rotate(0deg);
}

.filter-container {
  position: absolute;
  top: 596px;
  left: -396px;
  width: 300px;
  background-color: #fff;
  transition: left 0.3s ease;
  margin-left: 96px;
}

.filter-container.show {
  left: 0;
}

.filter-item-first {
  display: flex;
  gap: 10px;
  padding-bottom: 24px;
  padding-top: 24px;
  font-size: 16px;
  font-weight: 700;
}

.filter-item {
  height: 100px;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #ccc;
  cursor: pointer;
}

.filter-item-heading {
  display: flex;
  justify-content: space-between;
}

.filter-item-heading h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 18px;
}

.filter-item .filter-item-icon {
  margin-left: auto;
}

.filter-sub-items-select {
  top: 100%; /* Place it below the parent filter item */
  left: 0;
  width: 100%;
  padding-bottom: 24px;
  transition: height 0.3s ease;
}
.filter-sub-items-select p {
  text-decoration: underline;
  color: #bfc8cd;
  font-size: 16px;
  font-family: 400;
}

.filter-sub-items {
  padding-top: 24px;
}

.filter-item-icon {
  font-size: 25px;
  transition: transform 0.3s ease;
}

.filter-item-icon.flipped {
  transform: rotate(180deg);
}

.selected-option {
  font-weight: bold;
}
/* Media query for small screens and tabs */
@media screen and (max-width: 768px) {
  .sort-container {
    flex-direction: row;
    justify-content: center;
  }

  .filter-container {
    top: 520px;
  }
  .sort-first-part {
    display: flex;
    justify-content: space-between;
  }

  .item-count {
    display: none;
  }
}
