.top-header {
  background-color: black;
  height: 32px;
  display: flex;
  justify-content: space-between;
  padding: 8px 274px;
}

.top-header-item {
  display: flex;
  align-items: center;
}

.top-header-icon {
  color: #eb4c6b;
  margin-right: 8px;
}

.top-header-text {
  color: #eb4c6b;
  font-family: "Simplon Norm", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.4px;
  letter-spacing: 1px;
  margin: 0;
}

/* Media query for smaller screens */
@media (max-width: 1024px) {
  .top-header {
    justify-content: center;
    padding: 8px 16px;
  }

  .top-header-item:not(:first-child) {
    display: none;
  }
}

@media (max-width: 768px) {
  .top-header {
    justify-content: center;
    padding: 8px 16px;
  }

  .top-header-item:not(:first-child) {
    display: none;
  }
}
